<!DOCTYPE html>
<html lang="es">

        <%- include('./partials/head') %>
        
        <body>
            <%- include('./partials/header') %>
        
            <!-- MENUU -->
        
            <main class="carga">
                
                <form action="/product/carga" method="POST" enctype="multipart/form-data">
                    <div class="menu">
                        <div class="menu1"><!-- encierro fotos titulo precio logos sumar carrito envios p y h1 -->
                            <section class="img-auricular">

                            <label for="productImagen" class="btn btn-light"> seleccione, un maximo de 5 imagenes </label>
                            <input type="file" class="form-control" id="productImagen" placeholder="ingrese precio" name="images" multiple>
                            
                            </section>

                            <div class="menulado"><!-- encierro logos h1 p precios sumar carrito envios -->
                    
                                <div class="titulo">
                                    <h3>Agregar Nombre del producto</h3>
                                    <input class="texto-carga" type="text" placeholder="Nombre:" name="name" class="<%= locals.errors && errors.name ? 'is-invalid' : null%>" value="<%= locals.oldData ? oldData.name : null%>">
                                    <% if (locals.errors && errors.name) { %>
                                        <div class="text-danger">
                                                <%= errors.name.msg %> 
                                        </div>
                                        <% } %>
                                </div>

                                <div class="model">
                                    <h3>Agregar stock del producto</h3>
                                    <input class="texto-carga" type="number" placeholder="stock:" name="stock" class="<%= locals.errors && errors.stock ? 'is-invalid' : null%>" value="<%= locals.oldData ? oldData.stock : null%>">
                                    <% if (locals.errors && errors.stock) { %>
                                        <div class="text-danger">
                                                <%= errors.stock.msg %> 
                                        </div>
                                        <% } %>
                                </div>

                                <h3>Agregar Categoría del producto</h3>
                                <select class="formulario-category" name="category_id" class="<%= locals.errors && errors.category_id? 'is-invalid' : null%>" value="<%= locals.oldData ? oldData.category_id : null%>"> 
                                    <option value="" >Seleccione su categoría</option>
                                    <% Categorias.forEach(categoria => { %>
                                        <option value="<%= categoria.id %>"><%= categoria.name %></option>
                                    <% }) %>
                                  </select>
                                  <% if (locals.errors && errors.category_id) { %>
                                    <div class="text-danger">
                                            <%= errors.category_id.msg %> 
                                    </div>
                                    <% } %>
                        
                                    <div class="precio">
                                        <h4>Agregar Precio <br> del producto :</h4>
                                        <input class="texto-carga <%= locals.errors && errors.price ? 'is-invalid' : null%>" type="number" placeholder="Precio $:" name="price" value="<%= locals.oldData ? oldData.price : null%>">
                                        <% if (locals.errors && errors.price) { %>
                                            <div class="text-danger">
                                                    <%= errors.price.msg %> 
                                            </div>
                                            <% } %>
                                        <a href="/"><img src="/img/electodo log.png" alt="electodo"></a>
                                    </div>
                
                                <div class="discount">
                                    <h3>pagando con efectivo un descuento de:</h3> 
                                    <input class="texto-carga <%= locals.errors && errors.discount ? 'is-invalid' : null%>" type="number" placeholder="Descuento%:" name="discount" value="<%= locals.oldData ? oldData.discount : null%>">
                                    <% if (locals.errors && errors.discount) { %>
                                        <div class="text-danger">
                                                <%= errors.discount.msg %> 
                                        </div>
                                        <% } %>
                                <div class="garantia-envios">
                                    <i class="fad fa-shield-alt"></i> <span>Garantia - 12 meses</span>
                                    <p></p>
                                    <i class="fas fa-truck"></i> <span>Envios a todo el pais</span>
                                </div> 
        
                                <div class="botones">
                                    <div class="botoncito">
                                        <button  type="submit">Guardar</button>
                                    </div> 

                                    <div class="botoncito">     
                                    <button type="reset"><i class="fas fa-times"></i> Cancelar</button>  
                                    </div>  
                                </div>            
                                
        
                            
                        </div>
                    </div>
                </div>
            
            </div>   
            <div class="contenedor-especificaciones">
                <div class="contenedor-caracteristicas">
        
                        <h3> CARACTERISTICAS GENERALES </h3>
                        <div class="caracteristicas-contenido">
                            <input class="texto-carga-espe <%= locals.errors && errors.description ? 'is-invalid' : null%>" type="text" placeholder="Descripción del producto:" name="description" value="<%= locals.oldData ? oldData.description : null%>">                
                            <% if (locals.errors && errors.description) { %>
                                <div class="text-danger">
                                        <%= errors.description.msg %> 
                                </div>
                                <% } %>
                        </div>
                    </div>              
                              
            </div>
                                                   
          </form>       
    </main>
    <%- include('./partials/footer') %>
</body>
</html>