<!DOCTYPE html>
<html lang="es">

        <%- include('./partials/head') %>
        
        <body>
            <%- include('./partials/header') %>
        
            <!-- MENUU -->
        
            <main class="carga">
                
                <form method="POST">
                    <div class="menu">
                        <div class="menu1"><!-- encierro fotos titulo precio logos sumar carrito envios p y h1 -->
            
 
                            <div class="menulado"><!-- encierro logos h1 p precios sumar carrito envios -->
                    
                                <div class="titulo">
                                    <h3>Agregar Nombre del producto</h3>
                                    <input class="texto-carga" type="text" placeholder="Nombre:" name="name">  
                                </div>
                
                                <div class="model">
                                    <h3>Agregar stock del producto</h3>
                                    <input class="texto-carga" type="text" placeholder="stock:" name="stock">
                                </div>

                                    <h3>Agregar Categoria del producto</h3>
                                    <select class="formulario-category" name="category_id">
                                        <option value="" >Seleccione su categoría</option>
                                        <% Categorias.forEach(categoria => { %>
                                            <option value="<%= categoria.id %>"><%= categoria.name %></option>
                                        <% }) %>
                                      </select>
                        
                                <div class="precio">
                                    <h4>Agregar Precio <br> del producto :</h4>
                                    <input class="texto-carga" type="number" placeholder="Precio $:" name="price">
                                    <a href="/"><img src="/img/electodo log.png" alt="electodo"></a>
                                </div>
                
                                <div class="discount">
                                    <h3>pagando con efectivo un descuento de:</h3> 
                                    <input class="texto-carga" type="text" placeholder="Descuento%:" name="discount">
                                <div class="garantia-envios">
                                    <i class="fad fa-shield-alt"></i> <span>Garantia - 12 meses</span>
                                    <p></p>
                                    <i class="fas fa-truck"></i> <span>Envios a todo el pais</span>
                                </div> 
        
                                <div class="botones">
                                    <div class="botoncito">
                                        <button  type="submit">Guardar</button>
                                    </div> 

                                    <div class="botoncito">     
                                    <button type="reset"><i class="fas fa-times"></i> Cancelar</button>  
                                    </div>  
                                </div>            
                                
        
                            
                        </div>
                    </div>
                </div>
            
            </div>   
            <div class="contenedor-especificaciones">
                <div class="contenedor-caracteristicas">
        
                        <h3> CARACTERISTICAS GENERALES </h3>
                        <div class="caracteristicas-contenido">
                            <input class="texto-carga-espe" type="text" placeholder="Descripción del producto:" name="description">                
                            
                        </div>
                    </div>              
                              
            </div>
                                                   
          </form>       
    </main>
    <%- include('./partials/footer') %>
</body>
</html>