<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %> 
<body>
    <%- include("./partials/header") %>
    <main class="detalle">
        <div class="menu">
            <div class="menu1"><!-- encierro fotos titulo precio logos sumar carrito envios p y h1 -->

                <section class="img-auricular"><!-- encierro solo las fotos -->
                    <img id="img-principal" class="img-fluid" src="/img/products/<%= products.images[0].name %>" alt="imagen auris">          
                    
                    <div class="galeria-auris">
                        <% products.images.forEach((imagen,index) => { %>
                        <div class="auris">
                                <img onclick="document.getElementById('img-principal').setAttribute('src','/img/products/<%=imagen.name%>')" src="/img/products/<%= imagen.name %>" alt="">
                        </div>
                        <% }) %>

                    </div>
                </section>       
                


                <div class="menulado"><!-- encierro logos h1 p precios sumar carrito envios -->
                    
                        <div class="titulo">
                            <h1><%= products.name %> </h1>  
                        </div>
        
                        <div class="model">
                            <h4>Categoria de: <%= products.Categories.name %></h4>
                        </div>
                
                        <div class="precio">
                            <h4> $<%= products.price %> <br> Precio Lista</h4>
                            <a href="/"><img src="/img/electodo log.png" alt="electodo"></a>
                        </div>
        
                        <div class="discount">
                            <h4>pagando con efectivo un: <br> <%= products.discount %>%  de descuento</h4>
                            <h4 class="text-primary">$<%= (products.price - (products.discount * products.price /100).toFixed(0)) %> %OFF</h4>
                        </div>
                
                        <div class="garantia-envios">
                            <i class="fad fa-shield-alt"></i> <span>Garantia - 12 meses</span>
                            <p></p>
                            <i class="fas fa-truck"></i> <span>Envios a todo el pais</span>
                        </div> 

                        <% if (locals.userLogin && locals.userLogin.rol === "admin") { %>
                        <div class="botones">  
                            <div >                  
                                <a class="editor" href="/product/edit/<%= products.id %>" >Editar</a>                  
                            </div>
                            <div class="botoncito">
                                <form action="/product/remove/<%= products.id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-primary btn-danger">Eliminar</button>
                                  </form>
                            </div>
                        </div>
                        <% } %>
                        
                        <div class="botones">
                            <div class="carrito">
                                <a href="/cart"><span>sumar al carrito</span></a>
                            </div>                      
                        </div>

                    
                </div>
            </div>
        </div>
    
    </div>   
    <div class="contenedor-especificaciones">
        <div class="contenedor-caracteristicas">

                <h3> CARACTERISTICAS GENERALES </h3>
                <div class="caracteristicas-contenido">
                    <h4><%= products.description %></h4>               
                </div>
            </div>              
                      
    </div>

    <!-- productss relacionado -->
    
    
    </main>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
</body>
</html>