<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %> 
<body>
    <%- include("./partials/header") %>
    <main class="detalle">
        <div class="menu">
            <div class="menu1"><!-- encierro fotos titulo precio logos sumar carrito envios p y h1 -->
                <section class="img-auricular"><!-- encierro solo las fotos -->
                    <% productos.forEach(producto => { %>
                        <img src="/img/<%= producto.image1 %>" alt="imagen auris">
        
                        <div class="galeria-auris">
                            <div class="auris">
                                <img src="/img/<%= producto.image2 %>" alt="">
                            </div>
                            <div class="auris">
                                <img src="/img/<%= producto.image3 %>" alt="">
                            </div>
                            <div class="auris">
                                <img src="/img/<%= producto.image4 %>" alt="">
                            </div>
                            <div class="auris">
                                <img src="/img/<%= producto.image5 %>" alt="">
                            </div>
                        </div>

                    <% }) %>

                </section>        
                
                <div class="menulado"><!-- encierro logos h1 p precios sumar carrito envios -->
                    <% productos.forEach(producto => { %>
                        <div class="titulo">
                            <h1><%= producto.name %> </h1>  
                        </div>
        
                        <div class="model">
                            <h1> <%= producto.model %> </h1>
                            <h6><%= producto.category %></h6>
                        </div>
                
                        <div class="precio">
                            <h4> $<%= producto.price %> <br> precio especial</h4>
                            <a href="/"><img src="/img/electodo log.png" alt="electodo"></a>
                        </div>
        
                        <div class="discount">
                            <h4>pagando al contado a: <br> $<%= producto.discount %> <br> precio en efectivo</h4>
                        </div>
                
                        <div class="garantia-envios">
                            <i class="fad fa-shield-alt"></i> <span>Garantia - 12 meses</span>
                            <p></p>
                            <i class="fas fa-truck"></i> <span>Envios a todo el pais</span>
                        </div> 
                
                        <div class="carrito">
                            <a href="/cart"><span>sumar al carrito</span></a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    
    </div>   
    <div class="contenedor-especificaciones">
        <% description.forEach(description => { %>
        <div class="contenedor-caracteristicas">

                <h3> <%= description.title %> </h3>
                <div class="caracteristicas-contenido">
                    <span><%= description.caracteristica1 %></span>
                    <span><%= description.caracteristica10 %></span>
                </div>
                <div class="caracteristicas-contenido">
                    <span><%= description.caracteristica2 %></span>
                    <span><%= description.caracteristica20 %></span>
                </div>
                <div class="caracteristicas-contenido">
                    <span><%= description.caracteristica3 %></span>
                    <span><%= description.caracteristica30 %></span>
                </div>
                <div class="caracteristicas-contenido">
                    <span><%= description.caracteristica4 %></span>
                    <span><%= description.caracteristica40 %></span>
                </div>
                <div class="caracteristicas-contenido">
                    <span><%= description.caracteristica5 %></span>
                    <span><%= description.caracteristica50 %></span>
                </div>
                <div class="caracteristicas-contenido">
                    <span><%= description.caracteristica6 %></span>
                    <span><%= description.caracteristica60 %></span>
                </div>
        
            </div> 
            <% }) %>

    </div>

    <!-- productos relacionado -->
    <section class="relacionados">
        <h3>PRODUCTOS RELACIONADOS</h3>
        <p></p>
        <div class="galeria-mouse">
            <% relacionados.forEach(relacionado => { %>
                <div class="mouse">
                    <img src="/img/<%= relacionado.image %>" alt="mouse">
                    <h4><%= relacionado.titulo %></h4>
                    <span>$<%= relacionado.price %></span>
                </div>
            <% }) %>
        </div>
    </section>     
    
    </main>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
</body>
</html>