<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main class="carrito">
     <nav>
         <div class="navegacion">
        <i class="fas fa-truck"></i>
         <p>Carrito / Punto de entrega</p> 
         </div>
         <div class="aqui">
          <i class="fas fa-money-bill-alt"></i>
         <p>Método de pago</p>
           </div>
         <div class="navegacion2">
           <i class="far fa-check-circle"></i>   
          <p>Confirmación de la compra</p>   
         </div>
     </nav>
     <section class="cuerpo">
    <div class="total-dos">
        <h3>Total</h3>
        <h3>$85.749</h3>
    </div>
    <section class="metodos">
        <div>
         <p>Método de pago:</p>   
        </div>
        <form action="/cart/metodoDePago" method="POST" >
            <% if (locals.errors && errors.pago) { %>
                <div class="text-danger">
                        <%= errors.pago.msg %> 
                </div>
            <% } %> 
         <div class="opciones">
                <input type="radio" name="pago" value="credito" id="credito">
                <label for="credito"><i class="far fa-credit-card"></i></label>
                <label for="credito"><span>Tarjeta de crédito</span></label>
        </div>
        <div class="opciones">
            <input type="radio" name="pago" value="debito" id="debito">
            <label for="debito"><i class="fas fa-credit-card"></i></label>
            <label for="debito"><span>Tarjeta de débito</span></label>
        </div>
        <div class="opciones">
            <input type="radio" name="pago" value="efectivo" id="efectivo">
            <label for="efectivo"><i class="fas fa-money-bill"></i></label>
            <label for="efectivo"><span>Efectivo en los puntos de pago</span></label>
        </div>
    </section>
    

     </section>

    <div class="continuar-dos">
        <button><a href="/cart/confirmacionDeLaCompra">Continuar compra</a></button>
    </div>
    </form>
    </main>
    <%- include('partials/footer') %> 
    <%- include('partials/scripts') %> 
</body>
</html>