<!DOCTYPE html>
<html lang="es">

        <%- include('./partials/head') %>
        
        <body>
            <%- include('./partials/header') %>
            <% if (result.length > 0) { %>
                <h1 class="bg-info">Resultado de la Busqueda de : <%= busqueda %> </h1>
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">NOMBRE DEL PRODUCTO</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">PRECIO</th>
                  </tr>
                </thead>
                <tbody>
                    <% result.forEach(producto => { %>
                        <tr>
                            <th scope="row">1</th>
                            <td><%= producto.name %> </td>
                            <td><%= producto.description %></td>
                            <td><%= producto.price %></td>
                          </tr>  
                    <% }) %>
             
                </tbody>
              </table>
            <% } else{ %>
            <h1 class="bg-light" style="color: rgb(196, 73, 73);">No hay resultado para la busqueda de : "<%= busqueda %>" <br> Escriba bien el nombre del producto por favor</h1>
            <% } %>
        

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>