<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="profile">
                <section class="perfil-usuario">
                    <div class="contenedor-perfil">
                        <div class="fondo-perfil-oscuro">
                            <div class="logo-carnet">
                                <img src="/img/electodo log.png" alt="">
                            </div>
                            <form action="/users/profile">
                                    <div class="foto-perfil">
                                        <img src="/img/<%= user.avatar%>" alt="">
                                        <div class="efecto-borde"></div>
                                    </div>
                                    <div class="fondo-perfil-claro">
                                        <div class="datos-usuario">
                                            <div class="nombre-usuario">
                                                <label class="nombre-apellido">
                                                    <%= user.name %>
                                                </label>
                                                <label for="">Nombre </label>
                                            </div>
                                            <div class="datos-generales">
                                                <p class="numero-cel">011-4444-5555</p>
                                                <label>Numero de celular</label>
    
                                                <p class="email" >
                                                    <%= user.email %>
                                                </p>
                                                <label>Correo Electrónico</label>
    
                                                <p id="passOculta" class="email">
                                                    <%= user.password %>
                                                </p>
                                                <label>Contraseña</label>
                                            </div>
                                            <button>Editar</button>
                                        </div>
                                    </div>
                                
                            </form>


                        </div>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
                <%- include('../partials/scripts') %>
    </body>

</html>