<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body class="register">
  <%- include('../partials/header') %> 
  <main class="register">
    <div class="row">
        <div class="col-6 mx-auto mt-5 mb-5">
            <div class="card">
                <div class="card-body">
                    <form action="/users/register" method="POST">
                        <div class="mb-3">
                            <h4 class="card-title text-center">Creá tu cuenta</h4>
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text"  name="name" id="name"
                                aria-describedby="emailHelp" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null%>" value="<%= locals.oldData ? oldData.name : null%>">
                                <% if (locals.errors && errors.name) { %>
                                    <div class="text-danger">
                                            <%= errors.name.msg %> 
                                    </div>
                                    <% } %>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                            <input type="email" name="email" id="email"
                                aria-describedby="emailHelp" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null%>" value="<%= locals.oldData ? oldData.email : null%>">
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger">
                                            <%= errors.email.msg %> 
                                    </div>
                                    <% } %>
                        </div>
                        <div class="mb-3">
                            <label for="email-again" class="form-label">Vuelve a escribir el correo</label>
                            <input type="email"  name="emailagain" id="email-again"
                                aria-describedby="emailHelp" class="form-control <%= locals.errors && errors.emailagain ? 'is-invalid' : null%>">
                                <% if (locals.errors && errors.emailagain) { %>
                                    <div class="text-danger">
                                            <%= errors.emailagain.msg %> 
                                    </div>
                                    <% } %>
                        </div>
                        
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" placeholder="Debe tener al menos 6 caracteres"  name="password" id="password" class="form-control<%= locals.errors && errors.password ? 'is-invalid' : null%>">
                            <div id="emailHelp"  class="form-text"><i class="fas fa-info"></i> La contraseña debe contener al menos 6 caracteres.
                                <% if (locals.errors && errors.password) { %>
                                    <div class="text-danger">
                                            <%= errors.password.msg %> 
                                    </div>
                                    <% } %>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <label for="password-again" class="form-label">Vuelve a escribir la contraseña</label>
                            <input type="password" name="passwordagain" id="password-again" class="form-control<%= locals.errors && errors.passwordagain ? 'is-invalid' : null%>">
                            <% if (locals.errors && errors.passwordagain) { %>
                                <div class="text-danger">
                                        <%= errors.passwordagain.msg %> 
                                </div>
                                <% } %>
                        </div>

                        <button type="submit" class="btn btn-primary">Continuar</button>
                        <p>Al continuar, aceptas las <a href="">Condiciones de Uso</a> y
                            el <a href="">Aviso de Privacidad</a> de Electodo</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
    <%- include('../partials/footer') %> 
    <%- include('../partials/scripts') %> 
</body>
</html>
